#menu-medium {
    border-bottom: solid 1px #7e7e7e;
}

    #secondary-header h1 {
        font: 700 2rem 'News Cycle', Arial, Helvetica, sans-serif;
        margin: 0;
        padding-top: 20px ;
        text-align: center;
        color: #fff;
    }

    #secondary-header h2 {
        font: 100 1.2rem 'Open Sans', Arial, Helvetica, sans-serif;
        text-align: center;
        color: #7e7e7e;
    }

#tab-nav {
    background: url(../img/footer_lodyas.png);
    -webkit-box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2);
}

    #tab-nav .ni {
        list-style: none;
        text-align: center;
        display: inline-block;
    }

        #tab-nav .ni a {
            text-decoration: none;
            font: 700 1rem 'News Cycle', Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            color: #2561d0;
        }

            #tab-nav .ni a span {
                padding: 5px;
                display: inline-block;
            }

            #tab-nav .ni a i {
                display: block;
                font-size: 25px;
                margin: 0;
                font-weight: 100 !important;
            }


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::
::                   Active Tab                      ::
:::::::::::::::::::::::::::::::::::::::::::::::::::::*/
   

.ni-active {
    background: #2561d0 !important;
    -webkit-box-shadow: inset 0px 5px 15px -2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 5px 15px -2px rgba(0, 0, 0, 0.5);
    -o-box-shadow: inset 0px 5px 15px -2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 5px 15px -2px rgba(0, 0, 0, 0.5);
}

.ni-active a {
    color: #fff !important;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::
::                   Tab Content                     ::
:::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.tab-content {

}

    .tab-content h3 {
        color: #fff;
        font: 700 2.5rem 'News Cycle', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin: 30px 0 250px 0;
        letter-spacing: 2px
        -webkit-text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        -moz-text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        -o-text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .tab-content p {
        color: #fff;
        text-align: justify;
        font: 100 1.3rem 'Open Sans', Arial, Helvetica, sans-serif;
        -webkit-text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
        -moz-text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
        -o-text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 1);
    }

        .tab-content i {
            font-size: 5rem;
            padding: 13px 13px 0 13px;
            border: 4px solid;
            text-align: center;
            margin: 0 auto;
            color: #fff;
            text-shadow:        3px 3px 3px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow:    3px 3px 6px 0px rgba(0, 0, 0, 0.5);
            -o-box-shadow:      3px 3px 6px 0px rgba(0, 0, 0, 0.5);
            box-shadow:         3px 3px 6px 0px rgba(0, 0, 0, 0.5);
        }

.tab-content ul {
    
}

    .tab-content ul li:before {
        font-family: 'FontAwesome';
        content: '\f00c';
        display: inline-block;
        width: 1.2em;
        margin-left: -1.2em;
    }

    .tab-content ul li {
        font: 100 1.25rem 'Open Sans', Arial, Helvetica, sans-serif;
        color: #2561d0;
        list-style: none;
        border-bottom: solid 1px #f2f2f2;
        margin: 20px 0;
        padding: 2px 0;
        padding-left: 1.2em;
        text-align: left;
    }


#about,
#contact,
#secondary-header {
    background: url(../img/footer_lodyas.png);
    -webkit-box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2) !important;
    -o-box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: inset 0px 5px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#about i {
    font-size: 15rem;
    color: #fff;
}

#about p {
    font: 200 1rem 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: justify;
}

.values p{
    padding: 20px;    
}

#about h4 {
    text-align: center;
    color: #fff;
    font: 700 1.125rem 'News Cycle', Arial, Helvetica, sans-serif;
    padding: 10px 0;
    text-transform: uppercase;
}

#contact i {
    padding: 10px;
    color: #fff;
    display: block;
}

#contact i span {
    font: 100 1rem 'Open Sans', Arial, Helvetica, sans-serif;
    padding-left: 10px !important;
    max-width: 100% !important;
}

#contact input,
#contact textarea{
    display: block;
    width: 100%;
    padding: 2px 0 2px 10px;
    margin: 16px 0;
    border: solid 1px #ededed;
    border-radius: 5px;
    height: 35px;
    resize: none;
    font: 100 0.875rem 'Open Sans', Arial, Helvetica, sans-serif;
}

#contact textarea {
    height: 100px;
}

#contact .login-form-button {
    background-color: #509b44;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(33, 77, 9, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(33, 77, 9, 1);
    -o-box-shadow: 0px 3px 0px 0px rgba(33, 77, 9, 1);
    box-shadow: 0px 3px 0px 0px rgba(33, 77, 9, 1);
    margin-left: 20px;
    border: none;
    width: 90px;
    text-align: center;
    color: #fff;
    font: 100 1rem 'News Cycle', Arial, Helvetica, sans-serif;
}

#contact .login-form-button:hover {
    background-color: #56a949;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(40, 100, 0, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(40, 100, 0, 1);
    -o-box-shadow: 0px 3px 0px 0px rgba(40, 100, 0, 1);
    box-shadow: 0px 3px 0px 0px rgba(40, 100, 0, 1);
    color: #fff;
}

#contact form {
    margin-bottom: 70px;
}